{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Networking</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
{% endblock %}

{% block content %}

    <br><br><br><br>
    <center>
        <font color="#686868" size="5" face="Comic Sans MS,Arial,Verdana">CATEGORIAS</font>
        <br>
        <img src="{% static 'images/chica1.jpg' %}" height='340' width='390'>
        <br><br>
        <h3> Hay un total de {{ numregistros }} categorias registradas</h3>
    </center>
    <br>
    {% if not request.user.is_authenticated %}

    {% endif %}

    {% if request.user.is_authenticated %}
        <h2>USUARIO REGISTRADO</h2>
    {% endif %}

    <font size="3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th bgcolor="#F5DA81">ID</th>
                <th bgcolor="#F5DA81">CATEGORIA</th>
                <th colspan="4" style="text-align:center;" bgcolor="#AAF5AA">OPERACIONES</th>
            </tr>
            </thead>
            <tbody>
            {% for r in lista_categorias %}
                <tr>
                    <td> {{ r.id }} </td>
                    <td> {{ r.nombre_categoria|upper|slice:"0:12" }} </td>

                    <form action="" method="post">
                        {% csrf_token %}
                        <td><a class='btn btn-primary btn-sm' href="{% url 'home' %}">VER</a></td>
                        <td><a class='btn btn-danger btn-sm' href="{% url 'home' %}">ANULAR</a></td>
                        <td><a class='btn btn-success btn-sm' href="{% url 'home' %}">EDITAR</a></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </font>

    {% if lista_categorias.has_other_pages %}
        <font size="4">
            <ul class="pagination">
                {% if lista_categorias.has_previous %}
                    <li><a href="?page={{ lista_categorias.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in lista_categorias.paginator.page_range %}
                    {% if reservas.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if lista_categorias.has_next %}
                    <li><a href="?page={{ lista_categorias.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </font>
    {% endif %}


{% endblock content %}
