{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Vpportfolio</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
{% endblock %}

{% block content %}
<br><br><br>
<center>
    <br>
</center>
<style>
    input{
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
        background-color: #f2f2f2;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
    <h1>Enviar Email</h1>
    <form method="post" action="{% url 'contacto' %}">
        {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="asunto" placeholder="Asunto" required>
        <input type="text" name="mensaje" placeholder="Mensaje" required>
        <button type="submit">Enviar</button>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </form>

{% endblock content %}
