{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Networking</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

 {% endblock %}

 {% block content %}

 {# {% include "carousel.html" %} #}
 <br><br><br><br>
 {% if not request.user.is_authenticated %}
 <h1>PÁGINA DE INICIO</h1>
   <!-- ><img src="{% static 'appportfolio/bootstrap/imagenes/marta.png'%}" height='340' width='390'>-->
    <img src="{% static 'images/chica2.jpg'%}" height='190' width='190'>
    <img src="{% static 'images/chica3.jpg'%}" height='190' width='190'>
    <img src="{% static 'images/chica1.jpg'%}" height='190' width='190'>
 {% endif %}

 {% if request.user.is_authenticated %}
  <center>
  <font color="#686868" size="5" face="Comic Sans MS,Arial,Verdana">{{ nombreProyecto }}</font>
   </center>
 {% endif %}

 {% if not request.user.is_authenticated %}
   <a href="{% url 'login' %}">Iniciar Sesión</a>
   <a href="{% url 'register' %}">Registrarse</a>
 {% else %}
   <div class="user d-inline-block">
    <span class="name">{{ user.username }}</span>
    <span><img alt="Avatar" src="{{ fotoperfil }}" style="width: 100px;" height="100px" class="imgRedonda60"></span>
   </div>
   <br>
   <p>Bienvenido, {{ user.username }}! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16">
    <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.35 4.35 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0M7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1s.458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7z"/>
    </svg>
   </p>
   <a href="{% url 'cerrar' %}">Cerrar Sesión</a>
 {% endif %}  

{% endblock content %}
