<font size="3">
    <h1>Curriculum de {{ curriculum.nombre }} {{ curriculum.apellido1 }} {{ curriculum.apellido2 }}</h1>
    <p>Email: {{ curriculum.email }}</p>
    <p>Telefono: {{ curriculum.telefono }}</p>

    <h2>Estudios</h2>
    <ul>
        {% for estudio in estudios %}
            <li>{{ estudio.estudios.titulacion }} en {{ estudio.estudios.lugarEstudio }} desde ({{ estudio.estudios.fechaInicio }}) - {{ estudio.estudios.lugarEstudio }}</li>
        {% endfor %}
    </ul>

    <h2>Experiencia laboral</h2>
    <ul>
        {% for experiencia in experiencias %}
            <li>{{ experiencia.experiencias.categoria }} en {{ experiencia.experiencias.empresa }} desde ({{ experiencia.experiencias.fecha_inicio }}) - {{ experiencia.experiencias.fecha_fin }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'generarPDF' curriculum.id %}">Generar PDF</a>
</font>