{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Iniciar Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="..\static\css\login_register.css">
{% endblock %}
{% block content %}
    <br><br><br><br>
    <div class="container">
        <p class="text-white h2">REGISTRAR USUARIO</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <label for="username">Nombre de Usuario:</label>
            <input type="text" name="username" id="username" placeholder="Usuario" required>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <button type="submit" id="register">Registrar</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
{% endblock scripts %}