{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat con {{ entrevistador.empresa }}</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<br><br><br><br>
<div class="container mt-4">
  <h2>Selecciona un Entrevistador</h2>
 
  <form method="post">
    {% csrf_token %}
    <select name="entrevistador_id">
      {% for entrevistador in entrevistadores %}
        <option value="{{ entrevistador.id }}">{{ entrevistador.user.username }}</option>
      {% endfor %}
    </select>
    <button type="submit">Iniciar Chat</button>
  </form>
  
</div>
{% endblock content %}
