{% extends "base.html" %}
{% block head %}
<title>PORTFOLIO</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/css.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
 {% endblock %}


{% block content %}
 <br><br><br><br>
 <center>
 <h1> SOBRE MI</h1>
 <table>
 <tr>
 <td>NOMBRE:</td> 
 <td>{{ nombre }}</td> 
 </tr>
 <tr>
 <td>EDAD</td> 
 <td>{{ edad }}</td> 
 </tr>
 <tr>
 <td>TELEFONO</td> 
 <td>{{ telefono }}</td> 
 </tr>
 <tr>
 <td>CARGO</td>
 <td>{{ cargo }}</td>
 </tr>
 </table>
 <br><br><br>
 <table>

     <tr>
         <td>ID</td>
         <td>CATEGORIA</td>
     </tr>
     {% for r in listaCategorias %}
     <tr>
         <td>{{ r.id }}</td>
         <td>{{ r.nombre_categoria }}</td>
     </tr>
     {% endfor %}
 </table>
</center>
{% endblock content %}
