{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Networking</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
{% endblock %}

{% block content %}
<br><br><br><br>
<center>
    <font color="#686868" size="5" face="Comic Sans MS,Arial,Verdana">TAREAS</font>
    <br><br>
    <img src="{% static 'images/chica1.jpg' %}" height='340' width='390'>
    <h3> Hay un total de {{ numregistros }} tareas registradas</h3>
    <br>
</center>

<font size="3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th bgcolor="#F5DA81">ID</th>
                <th bgcolor="#F5DA81">TAREA</th>
                <th bgcolor="#F5DA81">FECHA</th>
                <th bgcolor="#F5DA81">ESTADO</th>
                <th colspan="4" style="text-align:center;" bgcolor="#AAF5AA">OPERACIONES</th>
            </tr>
        </thead>
        <tbody
            {% for r in lista_tareas %}
                <tr>
                    <td> {{ r.id }}</td>
                    <td> {{ r.tarea }}</td>
                    <td> {{ r.fecha|date:"d/m/Y" }}</td>
                    <td> {{ r.estado }}</td>

                    <form action="" method="post">
                        {% csrf_token %}
                        <td><a class="btn btn-secondary btn-sm" href="{% url 'agregar_tarea' %}">AGREGAR</a></td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'ver_tarea' tarea_id=r.id %}">VER</a></td>
                        <td><a class="btn btn-success btn-sm" href="{% url 'modificar_tarea' tarea_id=r.id %}">EDITAR</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_tarea' tarea_id=r.id %}">ANULAR</a></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</font>

{% endblock content %}